{% extends 'base.html' %}
{% block title %}
Student Details
{% endblock %}

{% block content %}
<div class="container mx-auto pt-4 px-4 pb-5">
    <h1 class="text-center mb-5 text-4xl text-bold text-white">{{ student.name }}'s Details</h1>
    <div class="max-w-4xl mx-auto shadow-lg rounded-lg overflow-hidden flex bg-gray-800 text-white gap-8">
        <div class="w-1/2 flex items-center justify-center p-4">
            <img class="w-60 h-60 rounded-full object-cover shadow-md" src="{{ student.image.url }}"
                alt="Student Image">
        </div>

        <div class="w-2/3 p-6">
            <h2 class="text-2xl font-semibold">{{ student.name }}</h2>
            <p class=" mt-2"><strong>Email:</strong> {{ student.email }}</p>
            <p class=" mt-2"><strong>Phone:</strong> {{ student.phone }}</p>
            <p class=" mt-2"><strong>Course:</strong> {{ student.course }}</p>
            <p class=" mt-2"><strong>Address:</strong> {{ student.address }}</p>

            <!-- Buttons -->
            <div class="mt-4">
                <a href="{% url 'editstudent' student.id %}"
                    class="bg-blue-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700">Edit</a>
                <a href="{% url 'deletestudent' student.id %}"
                    class="bg-red-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 ml-2">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}