{% extends 'base.html' %}

{% block title %}All Student List{% endblock %}
{% block content %}


<div class="container mx-auto pt-4 px-4 pb-5">
    <p class="text-center text-white text-lg">Note: For login use ' Admin ' as username and ' admin26 ' as password</p>
    <h1 class="text-center mb-5 text-4xl text-bold text-white">All Students List</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8  mx-auto">
        {% for student in students %}
        <div
            class="w-full max-w-sm mx-auto bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10 student_data">
                <!-- Image section, centered and rounded -->
                <img class="w-24 h-24 my-4 rounded-full border-2 border-white shadow-lg mx-auto"
                    src="{{ student.image.url }}" alt="Student Image" />

                <!-- Student Details Section -->
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name : {{ student.name }}</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Email : {{ student.email }}</span>
                <span class="text-sm text-gray-500 dark:text-gray-400">Course : {{ student.course }}</span>

                <!-- Action button at the bottom -->
                <div class="flex mt-4 md:mt-6">

                    {% if user.is_authenticated %}
                    <a href="{% url 'studentdetails' student.id %}"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        See Details
                    </a>
                    {% else %}
                    <button onclick="showMessage()"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700">
                        See Details
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>



{% endblock %}